@model BetaCycle.Models.Payment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberCardSalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberCardSalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvvsalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvvsalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurnameCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurnameCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircuitCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircuitCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPayment" />
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
